body{
    font-family: sans-serif;
    background-color: bisque;
}
#heading{
    font-size: 70px;
    font-weight: bold;
}
#new-book-btn{
    display:block;
    margin:0px;
    padding:20px;
    color:white;
    background-color: blue;
}

#add{
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    outline:none;
    border:1px solid;

}
#container{
    display:flex;
    justify-content: center;
}

#addBook-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
}

#submit{
    margin-top:20px;
    border-radius:5px;
}

#layout-box{
    display:flex;
    align-items: start;
    flex-direction: column;
    margin-top:20px;
    font-size:25px;
    
}

#Books-Collection{
    display:flex;
    margin-top:60px;
    flex-direction: column;
    height:70px;
    width:100%;
    background-color: white;
    
}

#booktitleinput{
    border-radius:5px;
    font-size:15px;
    border:2px solid black;
    outline:none;
}

#authortitleinput{
    border-radius:5px;
    font-size:15px;
    border:2px; 
    border:2px solid black;
    outline:none;
}

