body{
    font-family: sans-serif;
    background-color: bisque;
}

#new-book-btn{
    display:block;
    margin:0px;
    padding:20px;
    color:white;
    background-color: blue;
}


#addBook-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#submit{
    margin-top:20px;
    border-radius:5px;
}

#layout-box{
    display:flex;
    align-items: start;
    flex-direction: column;
    margin-top:20px;
    font-size:25px;
    
}

#Books-Collection{
    display:flex;
    margin-top:60px;
    flex-direction: column;
    height:70px;
    width:100%;
    background-color: white;
    border-radius:25px;
    
}

#booktitleinput{
    border-radius:5px;
    font-size:15px;
    border:2px;
}

#authortitleinput{
    border-radius:5px;
    font-size:15px;
    border:2px; 
}