#new-book-btn{
    display:block;
    margin:0px;
    padding:20px;
    color:white;
    background-color: blue;
}


#addBook-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#submit{
    margin:20px;
}